* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background: black;
    overflow: hidden;
}

.board {
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.pad {
    width: 50%;
    height: 25%;
    float: left;
    transition: all 100ms ease-out;
}

.pad.pressed {
    transform: scale(0.75);
}

.pad:nth-child(1) { background-color: #ff4621; }
.pad:nth-child(2) { background-color: #fed24d; }
.pad:nth-child(3) { background-color: #01ffb8; }
.pad:nth-child(4) { background-color: #9fd263; }
.pad:nth-child(5) { background-color: #ff9800; }
.pad:nth-child(6) { background-color: #ff266a; }
.pad:nth-child(7) { background-color: #d03bc0; }
.pad:nth-child(8) { background-color: #02ff94; }

.circle-wrap {
    display: inline-block;
    left: 50%;
    margin-left: -12%;
    margin-top: -12%;
    position: absolute;
    top: 50%;
    width: 24%;
    z-index: 10;
    /*transition: all 300ms ease-in-out;*/
    
    
    animation-duration: 600ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out; 
}

.circle-wrap:after {
    content: "";
    display: block;
    padding-top: 100%;
}

.circle-wrap.hidden {
    transform: scale(0);
}

@keyframes rotateIn { 
    0% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(5deg);
    } 
    100% { 
        transform: rotate(0deg);
    } 
}

.circle-wrap.active {
    animation-name: rotateIn; 
}

.circle {
    border-radius: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.main.circle {
    background: #000000;
    transition: transform 500ms ease-in-out;
}

.active .main.circle {
    transform: scale(100);
    opacity: 0.9;
}

.menu .circle {
    opacity: 0;
    transition: all 500ms ease-in-out;
    transform-origin: 50% 150%;
    border: 4px solid;
}

.active .menu .circle {
    opacity: 1;
}

.menu .circle:nth-child(1) {
    transform: translate(0, -100%) rotate(0deg);
    border-color: #02ff94;
}
.menu .circle:nth-child(2) {
    transform: translate(0, -100%) rotate(72deg);
    border-color: #ff4621;
}
.menu .circle:nth-child(3) {
    transform: translate(0, -100%) rotate(144deg);
    border-color: #01ffb8;
}
.menu .circle:nth-child(4) {
    transform: translate(0, -100%) rotate(216deg);
    border-color: #fed24d;
}
.menu .circle:nth-child(5) {
    transform: translate(0, -100%) rotate(288deg);
    border-color: #d03bc0;
}
