* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    color: #ffffff;
}

body {
    background: black;
    overflow: hidden;
    text-transform: uppercase;
    font-family: 'Asap', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

a,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

h3 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding: 4%;
    margin: 0;
    font-size: 3em;
}

.close {
    border: 2px solid #ffffff;
    width: 1em;
    height: 1em;
    float: right;
    border-radius: 100%;
    background: url('../img/close.svg') no-repeat center center / 40%;
}

.button {
    background: rgba(255, 255, 255, 0.2);
    padding: 2.5%;
    display: block;
    margin: 4%;
    border-radius: 10px;
    font-size: 1.5em;
}

.board {
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 50;
}

.pad {
    width: 50%;
    height: 25%;
    float: left;
    transition: all 100ms ease-out;
}

.delete .pad {
    background: url('../img/close.svg') no-repeat center center / 10%;
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.pad.empty {
    position: relative;
    overflow: hidden;
    background: url('../img/microphone.svg') no-repeat center center / 20%;
}

.pad.empty.pressed:before {
    animation: 2s linear 0s normal none infinite spin;
    border-color: #000000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 2000px;
    content: "";
    left: 50%;
    margin-left: -2000px;
    margin-top: -2000px;
    position: absolute;
    top: 50%;
    background: #ffffff;
}

.pad.empty.pressed:after {
    background: url('../img/microphone.svg') no-repeat center center / 20%;
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.pad.pressed {
    transform: scale(0.75);
}

.pad:nth-child(1), .pad.empty.pressed:nth-child(1):after { background-color: #ff4621; }
.pad:nth-child(2), .pad.empty.pressed:nth-child(2):after { background-color: #fed24d; }
.pad:nth-child(3), .pad.empty.pressed:nth-child(3):after { background-color: #01ffb8; }
.pad:nth-child(4), .pad.empty.pressed:nth-child(4):after { background-color: #9fd263; }
.pad:nth-child(5), .pad.empty.pressed:nth-child(5):after { background-color: #ff9800; }
.pad:nth-child(6), .pad.empty.pressed:nth-child(6):after { background-color: #ff266a; }
.pad:nth-child(7), .pad.empty.pressed:nth-child(7):after { background-color: #d03bc0; }
.pad:nth-child(8), .pad.empty.pressed:nth-child(8):after { background-color: #02ff94; }

.circle-wrap {
    display: inline-block;
    left: 50%;
    margin-left: -12%;
    margin-top: -12%;
    position: absolute;
    top: 50%;
    width: 24%;
    z-index: 10;
    animation: 600ms ease-out;
}

.circle-wrap:after {
    content: "";
    display: block;
    padding-top: 100%;
}

.circle-wrap.hidden {
    transform: scale(0);
}

@keyframes rotateIn { 
    0% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(5deg);
    } 
    100% { 
        transform: rotate(0deg);
    } 
}

.circle-wrap.active {
    animation-name: rotateIn; 
}

.circle {
    border-radius: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.main.circle {
    background-color: #000000;
    transition: transform 500ms ease-in-out;
}

.delete .main.circle {
    background: url('../img/checkmark.svg') #ffffff no-repeat center center / 40%;
}

.active .main.circle {
    transform: scale(100);
    opacity: 0.9;
}

.menu .circle {
    opacity: 0;
    transition: opacity 300ms ease-in-out, transform 100ms linear;
    transform-origin: 50% 150%;
    border: 4px solid;
    background: no-repeat center center / 40%;
    pointer-events: none;
}

.active .menu .circle {
    opacity: 1;
    pointer-events: initial;
}

.active .menu .circle.disabled {
    opacity: 0.5;
}

.menu .circle:nth-child(1) {
    transform: translate(0, -100%);
    border-color: #02ff94;
    background-image: url('../img/plus.svg');
}
.menu .circle.pressed:nth-child(1) {
    transform: translate(0, -110%) scale(0.9);
}
.menu .circle:nth-child(2) {
    transform: translate(95%, -31%);
    border-color: #ff4621;
    background-image: url('../img/close.svg');
}
.menu .circle.pressed:nth-child(2) {
    transform: translate(95%, -41%) scale(0.9);
}
.menu .circle:nth-child(3) {
    transform: translate(59%, 81%);
    border-color: #01ffb8;
    background-image: url('../img/cog.svg');
}
.menu .circle.pressed:nth-child(3) {
    transform: translate(59%, 71%) scale(0.9);
}
.menu .circle:nth-child(4) {
    transform: translate(-59%, 81%);
    border-color: #fed24d;
    background-image: url('../img/menu.svg');
}
.menu .circle.pressed:nth-child(4) {
    transform: translate(-59%, 71%) scale(0.9);
}
.menu .circle:nth-child(5) {
    transform: translate(-95%, -31%);
    border-color: #d03bc0;
    background-image: url('../img/undo.svg');
}
.menu .circle.pressed:nth-child(5) {
    transform: translate(-95%, -41%) scale(0.9);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 0;
    transform: scale(1.2);
    opacity: 0;
    transition: all 300ms ease-out;
}
.overlay.active {
    z-index: 100;
    transform: scale(1);
    opacity: 1;
}

.boards ul {
    padding: 0;
    margin: 0;
}

.boards li {
    padding: 4%;
    list-style: none;
    text-transform: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    font-weight: 400;
    position: relative;
}

.boards .active:before {
    position: absolute;
    top: 50%;
    left: 0;
	width: 0; 
	height: 0;
	content: '';
	margin-top: -1em;
	border-top: 1em solid transparent;
	border-bottom: 1em solid transparent;
	border-left: 1em solid #ffffff;
}

.boards .name {
    font-size: 2.5em;
}

.boards .author {
    font-size: 1.5em;
    opacity: 0.7;
}
